.about-us {
    background-color: #ffffff;
}

.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.about-image-container {
    flex: 2;
    text-align: center;
}

.globe-image {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-image {
    width: 100%;
    max-width: 450px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-text {
    flex: 2;
    text-align: justify;
}

.about-details-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.conference-section {
    margin-top: 40px;
}

.conference-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.conference-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.conference-text {
    flex: 2;
    text-align: justify;
}

.conference-details-row {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 20px;
}

h2, h3 {
    color: #0d4da1;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    font-size: 1em;
    margin: 20px 0;
    text-align: left;
}

.about-us p {
    font-size: 1em;
    margin-bottom: 15px;
    line-height: 1.8;
    color: #333;
}

.about-us ul {
    font-size: 1em;
    line-height: 1.8;
    margin-bottom: 15px;
    color: #333;
}

.about-us ul {
    list-style: none;
}

.about-us ul li {
    position: relative;
    padding: 0 0 10px 30px;
}

.about-us ul li::before {
    content: '➤';
    position: absolute;
    left: 0;
    color: #0d4da1;
    font-size: 1em;
}

@media (max-width: 768px) {
    /* Adjust the layout for mobile view */
    .about-row, .about-details-row, .conference-row, .conference-details-row {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 0.9em;
    }

    .about-us p,
    .about-us ul {
        font-size: 0.9em;
    }

    .conference-text {
        font-size: 0.9em;
    }
}
